.container {
	width: 80%;
	margin: 0 auto;
}
.title-home {
	color: white;
	font-size: 32px;
	text-align: center;
}

.block-board {
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 10px;
	height: 400px;
	overflow: auto;
}
.add-new-board {
	width: 240px;
	height: 144px;
	opacity: 0.6;
	cursor: pointer;
	border: 1px dashed grey;
	transition: 0.3s;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 47px 15px 0;
}

.add-new-board:hover {
	opacity: 1;
	transform: translateY(-4px);
}

::-webkit-scrollbar {
	width: 9px;
	border-radius: 10px;
	background: rgb(245, 230, 211);
	height: 9px;
}

::-webkit-scrollbar-thumb {
	background: #0000007a;
	border-radius: 10px;
}
